body{
    width: 100%;
}
.navegacion{
    font-size: 23px;
    border-radius: 1px;
    background: #293241;
    color: azure;
    border: inset black;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5000;
}
.menu, .menu:visited{
    padding: 0 75px;
    color: azure;
    position: sticky;
    text-decoration: none;
}
.cabecero{
    background: url('/img/fondo.jpg');
    color: white;
    padding: 5% 0 16%;
    border: 1px solid black;
}
.cabecero h1, #info h1, #paginas h1{
    text-align: center;
    text-decoration: underline;
    font-size: 26px;
}
.contenedor{
    border: dashed 2px;
    text-align: center;
}
.contenedor h3{
    animation-duration: 3s;
    animation-name: slidein;
    font-size: 18;
}
#imagen{
    width: 22%;
    height: 22%;
    border-radius: 50%;
    animation: fadein 3s;
}
main{
    background: white;
    color: black;
}
#info{
    background-color: black;
    color: white;
    padding: 10px;
}
#info p{
    width: 70%;
    margin: auto;
    padding-top: 15px;
}
#paginas{
    background-color: black;
    color: white;
    padding: 10px 0;
    border: solid 2px white;
}
#paginas #titulo{
    text-align: center;
    text-decoration: underline;
    font-family: "MS Sans Serif", 'MS Serif', Courier, ;
}
#paginas div{
    border: solid 1px;
    background-color: #caf0f8;
    color: black;
    letter-spacing: 3px;
    letter-spacing: 1.5px;
    width: 30%;
}
.sitios{
    border: solid 1px white;
    height: 170px;
    width: 100%;
}
#paginas .titulo{
    font-weight: bold;
    text-decoration: underline;
    font-size: 22px;
}
#pginas div p{
    padding-top: 10px;
}
.certificados{
    display: flex;
}
.certificados img{
    position: relative;
    border-radius: 20%;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 10px;
}
#contacto{
    border: solid 2px #000
}
#contacto ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
#contacto a{
    font-size: 200%;
}
#contacto li{
    padding: 6%;
}
#linkedin{
    color: #0077b6;
    padding: 18% 45%;
    border-radius: 15px;
}
#github{
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 15px 30px;
}

/*Dispositivos Chicos*/
@media screen and (max-width: 540px) {
    .menu, .menu:visited{
        padding: 0 17px;
    }
    .certificados {
        flex-direction: column;
    }
    .sitios {
        width: 90%;
        margin: 0 20px;
    }
    
}
/*Dispositivos Grandes*/
@media screen and (max-width: 1020px) and (min-width: 541px){
    .certificados {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .menu, .menu:visited{
        font-size: 20px;
        padding: 0 40px;
    }
    .cabecero h1, #info h1, #paginas h1{
        font-size: 30px;
    }
    .cabecero h3, #info p, div p{
        font-size: 20px;
    }
    .sitios{
        width: 90%;
        margin: 0 0 0 40px;
    }
    .titulo{
        font-size: 25px;
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
        margin-left: 0%;
      width: 100%;
    }
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}