body{
    background-size: 100%;
    background-image: url('/Sitio-de-recetas/img/Cocina/Cabecero.jpg');
    background-attachment: fixed;
    padding-top: 80px;
}
h2{
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}
h3{
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
}
section{
    background-color:  #06d6a0;
}
nav{    
    position: sticky;
    top: 10px;
}
footer{
    border-top: 5px dashed;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
details{
    width: 220px;
    background-color: white;
    color: #00bbf9;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.75;
    padding-left: 30px;
}
details p{
    width: 1300px;
    background-color: white;
}
details ul{
    width: max-content;
    max-width: 400px;
    background-color: white;
    font-size: 18px;
}
#glosario h2, #glosario h3, #glosario ul{
    margin-left: 25px;
    margin-right: 25px;
    text-align: start;
    text-decoration: none;
}
#glosario ul{
    border: solid 3px;
}
#glosario h2{
    text-align: center;
    text-decoration: underline;
}
#glosario h3{
    font-style: oblique;
}
#glosario{
    background-color:  #06d6a0;
    width: 35%;
    margin-left: 15px;
    padding-bottom: 10px;
}
#glosario li{
    margin-right: 50px;
    height: 40px;
    font-size: 25px;
}
.imagenes{
    height: 200px;
    width: 200px;
    margin-left: 25px;
}
#menu{
    display: inline-block;
    padding-left: 10px;
    background: linear-gradient(#1a759f, #168aad);
    width: 98%;
    border-radius: 15px;
    font-size: 30px;
    height: 45px;
    position: fixed;
    top: 10px;  
    opacity: 1;
    z-index: 1;
    text-align: center;
}
.preparacion{
    margin: 40px 80px;
    text-align: justify;
}
